* { 
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

ul li,
ol li {
   text-align: left;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between
}

.logo img {
   max-width: 48px;
   width: 100%;
}

.logo-text {
   text-transform: uppercase;
}

.card-body {
   padding-left: 24px;
   padding-right: 24px;
}